#egg{
    width: 100px;
    height: 100px;
    position: absolute;
}

#egg_falled{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 0;
}

div{
    width: 1000px;
    height: 1000px;
}

.hide{
    visibility: hidden;
}
body{
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}