#bird{
    left: 0px;
    top: 0px;
    width: 150px;
    height: 150px;
    position: absolute;
}
.flip{
    transform: rotateY(180deg);
}
.hide{
    visibility: hidden;
}
body{
    cursor:crosshair;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


