$border-color:blue;
$border-footer-color:green;
$div_bgcolor:black;
@mixin add_border_padding($border-color){
    border: 2px solid $border-color;
    padding: 20px;
}

header{
    background-color: white;
    @include add_border_padding($border-color);
    color: blue;
}
div{
    background-color: $div_bgcolor;
    @include add_border_padding($border-color);
    p{
        @include add_border_padding($border-color);
        color: white;
    }
}
footer{
    background-color: $div_bgcolor;
    @include add_border_padding($border-footer-color);
    color: white;
}

